{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
		<div class="container">
			<div class="formBox">
				<form  action="{% url 'student_entry' %}" method="POST">
					{% csrf_token %}
						<div class="row">
							<div class="col-sm-12">
								<h1>Enter Details</h1>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="inputBox ">
									<div class="inputText"> </div>
									<input type="text" name="roll_number" class="input" placeholder="Roll Number"
									value= '{{ roll_number }}'>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="inputBox">
									<div class="inputText"> </div>
									<input type="text" name="name" class="input" placeholder="Name"
									value= '{{ name }}'>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="inputBox">
									<div class="inputText"></div>
									<input type="text" name="section" class="input" placeholder="Section"
									value= '{{ section }}'>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="inputBox">
									<div class="inputText"></div>
									<input type="text" name="branch" class="input" placeholder="Branch"
									value= '{{ branch }}'>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<div class="inputBox">
									<div class="inputText"></div>
									<textarea class="input" placeholder="Batch" name="batch" 
									value= '{{ batch }}'></textarea>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<input type="submit" name="" class="button_entry" value="Submit">
							</div>
						</div>
				</form>
			</div>
		</div>
	</div>


{% endblock %}