 {% load static %}

 <div class="container con1 con2">

    <hr>
        <div class="text-center center-block foot_items">
            
            <br />
                <a href="https://github.com/atomsmasher81" id="social"><img src="{% static 'img/github.png' %}"></a>
	            <a href="https://www.linkedin.com/in/kartik-gautam-aab771149/"><img src="{% static 'img/linkedin.png' %}"></a>
	            <a href="https://stackoverflow.com/users/9978482/kartik-gautam"><img src="{% static 'img/stack-overflow.png' %}"></a>
	            <a href="mailto:kartikgatam1710@gmail.com"><img src="{% static 'img/gmail.png' %}"></a>
               
</div>
    <hr>
</div>

