<div class="wrapper">
         <header>
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo">
                 
                  <img src="https://image.flaticon.com/icons/png/512/46/46143.png"  height="42" width="42">
                   Attendace Manager
               </div>
               <div class="menu">
                  <ul>
                     <li><a href="{% url 'index' %}">Home</a></li>
                     <li><a href="{% url 'services' %}">Services</a></li>
                     <li><a href="{% url 'about' %}">About</a></li>
                     <li><a href="{% url 'contact' %}">Contact</a></li>
                    <!--  <li><a href="#">Contact</a></li>
                     <li><a href="#">Contact</a></li> -->
                  </ul>
               </div>
            </nav>
         </header>
         
      </div>