{% extends 'base.html' %}

{% block content %}
<div class = "about1">
<h1>~About~</h1>

<p class = "about_content">the main iea behind this tool is to create an handy program which can add , delete record of teacher and students as well as mark attendace of students date wise and to be able to check the attendacnce later .<br>

the choice of technologies and languages are PYTHON for main coding ,DJANGO for front end  and MySQl for backend <br>
this tool also have the ability t show the graph of the attendace of student changing per day which makes it more pratical and nice to use.<br>
Hope you like my first complete project </p>
</div>
{% endblock %}