{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
		<div class="container">
			<div class="formBox">
				<form  action="{% url 'teacher_entry' %}" method="POST">
					{% csrf_token %}
						<div class="row">
							<div class="col-sm-12">
								<h1>Enter Details</h1>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="inputBox ">
									<div class="inputText"> </div>
									<input type="text" name="Number" class="input" placeholder="Number" 
									value= '{{ Number }}'>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="inputBox">
									<div class="inputText"> </div>
									<input type="text" name="Name" class="input" placeholder="Name" 
									value= '{{ Name }}'>
								</div>
							</div>
						</div>

						
							<div class="col-sm-6">
								<div class="inputBox">
									<div class="inputText"></div>
									<input type="text" name="Branch" class="input" placeholder="Branch"
									value= '{{ Branch }}'>
								</div>
							</div>
						</div>


						<div class="row ">
							<div class="col-sm-12 entry_form">
								<input type="submit" name="" class="button_entry" value="Submit">
							</div>
						</div>
				</form>
			</div>
		</div>
	</div>


{% endblock %}